@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Open Sans", sans-serif !important;
}

*:focus {
	outline: none;
}

.blueButton {
	padding: 0.5rem 1rem;
	background-color: #222359;
	color: white;
	border: none;
}

.yellowButton {
	padding: 0.5rem 1rem;
	background-color: #c1aa74;
	color: white;
	border: none;
}

.dashH4 {
	margin-top: 30px;
	padding: 5px;
}

.mentors-comment {
	text-align: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 600px;
	height: 500px;
	margin: auto;
	text-align: center;
}

.title {
	margin-left: 10px;
	padding-left: 6px !important;
	font-size: 18px;
	text-align: start !important;
}

.student-num {
	font-size: 12px !important;
	font-weight: bold;
	font-family: sans-serif;
}

.center-element {
	margin: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}


textarea {
	width: 400px !important;
	height: 100px !important;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	resize: none;
}
