@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
	overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

*:focus {
	outline: none;
}

.blueButton {
	padding: 0.5rem 1rem;
	background-color: #222359;
	color: white;
	border: none;
}

.yellowButton {
	padding: 0.5rem 1rem;
	background-color: #C1AA74;
	color: white;
	border: none;
	transition: 0.35s ease-in-out;
}

.yellowButton:hover {
	padding: 0.5rem 1rem;
	background-color: #222359;
	color: white;
}