.sideImage {
	background-image: url(../images/column-image.png);
	height: 100vh;
}

.input {
	border: #c1aa74 2px solid;
	transition: 0.35s ease-in-out;
}

input.input:focus {
	border: #222359 2px solid;
	box-shadow: none;
}
