.main {
    height: 100vh;
}

.dashboardNav {
    background-color: #222359;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #C1AA74;
}

li {
    list-style-type: none;
    line-height: 35px;
}

ul {
    padding: 0;
}

.active {
    color: #C1AA74;
}

h4 {
    color: #C1AA74;
    font-weight: bolder;
}

.heading {
    font-weight: bolder;
}

.underline {
    margin-top: -20px;
    padding: 2px 50px;
    border-bottom: 5px solid #222359;
}